# for Visual Studio
.vs
*.opensdf
*.sdf
*.user
*.ncb
*.vc.db
*.vc.opendb
*.aps
**/ipch

# for CMake
CMakeFiles
cmake_install.cmake
Makefile
cmake-build

# for Python
__pycache__
*.pyc


# for pyCharm
**/.idea/workspace.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/dictionaries
**/.idea/watcherTasks.xml
**/.idea/codeStyleSettings.xml
**/.idea/inspectionProfiles

# for tmp folder or files.
/out
/external/_download_
/external/linux
/external/jsoncpp
/external/mongoose
/external/openssl
/external/python

/build/config.py

# for dist folder
/dist/*.zip
/dist/*.tar.gz
/dist/installer/linux/server/_tmp_
**/_tmp_

/server/share/data/ts_db.db
/server/share/data/replay
/server/www/teleport/.idea/vcs.xml
/server/www/teleport/static/js/var.js
/server/www/packages/packages-windows/x64

# for not finished code
/common/libex/test
/external/mbedtls
/external/sqlite
/server/share/etc/core.ini
/server/share/etc/web.ini
/client/tp_rdp
/external/libssh-win-static/lib
/server/share/log
/config.ini
