{% extends "page_base.html" %}
{% set page_title_ = ['审计', '会话审计'] %}
{% set page_icon_class_ = 'fa fa-eye fa-fw' %}
{% set page_id_ = ['audit', 'record'] %}

{% block block_extend_css_file %}
    <link href="{{ static_url('plugins/datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block block_extend_js_file %}
    <script type="text/javascript" src="{{ static_url('js/audit/record-list.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('plugins/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('plugins/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
{% endblock %}

{% block block_embed_css %}
    <style type="text/css">

        .filter-area {
            padding: 10px;
        {#width: 90%;#}
        }

        .filter-area .col-sm-1 {
            width: 80px;
        }

        .filter-box {
            width: 50%;
            display: inline-block;
            float: left;
            background-color: #00acda;
            margin-bottom: 5px;
        }

        .filter-box .name {
            display: inline-block;
            width: 8em;
            text-align: right;
            float: left;

        }

        .filter-box .value {
            display: inline-block;
            width: 20em;
        }

    </style>
{% endblock %}

{% block block_body %}
    <div class="page-content-inner">

        <!-- begin box -->
        <div class="box">
            <div class="table-prefix-area">
                <div class="table-extend-cell">
                    <span class="table-name"><i class="fa fa-list fa-fw"></i> 会话列表</span>
                    <button id="btn-refresh-record" class="btn btn-sm btn-default"><i class="fa fa-redo fa-fw"></i> 刷新列表</button>
                    <button id="btn-toggle-filter" class="btn btn-sm btn-default">显示过滤器</button>
                </div>
                <div class="table-extend-cell table-extend-cell-right group-actions">
                    <div class="label label-ignore">存储空间：<span id="storage-info"></span></div>
                </div>
            </div>


            <div id="filter-area" class="filter-area" style="display:none;">
                <!-- 过滤时间 -->
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">时间：</label>
                        <div class="col-sm-2" style="width:320px;">
                            <div class="btn-group" role="group">
                                <button id="filter-btn-time-all" type="button" class="btn btn-sm btn-info">全部</button>
                                <button id="filter-btn-time-today" type="button" class="btn btn-sm btn-default">今天</button>
                                <button id="filter-btn-time-week" type="button" class="btn btn-sm btn-default">本周</button>
                                <button id="filter-btn-time-month" type="button" class="btn btn-sm btn-default">本月</button>
                                <button id="filter-btn-time-customer" type="button" class="btn btn-sm btn-default">自定义时间段</button>
                            </div>
                        </div>
                        <div class="col-sm-5" id="filter-time-customer-area" style="display: none;">
                            <form class="form-inline">
                                <div class="form-group form-group-sm">
                                    <div class="input-group date" id="filter-time-from">
                                        <input type="text" class="form-control" placeholder="开始时间" readonly/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <label class="control-label"> ~ </label>
                                    <div class="input-group date" id="filter-time-to">
                                        <input type="text" class="form-control" placeholder="结束时间" readonly/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label" for="filter-protocol-type">协议：</label>
                        <div class="col-sm-5">
                            <select id="filter-protocol-type" class="form-control">
                                <option value="0">全部</option>
                                <option value="100">RDP</option>
                                <option value="200">SSH</option>
                                <option value="201">SFTP</option>
                                <option value="300">TELNET</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label" for="filter-session-id">会话ID：</label>
                        <div class="col-sm-5">
                            <input id="filter-session-id" type="text" class="form-control" placeholder="请输入会话ID"/>
                        </div>
                    </div>
                </div>


                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label" for="filter-remote-host-addr">远程主机：</label>
                        <div class="col-sm-5">
                            <input id="filter-remote-host-addr" type="text" class="form-control" placeholder="请输入远程主机地址"/>
                        </div>
                        <label class="col-sm-1 control-label" for="filter-client-ip">来源IP：</label>
                        <div class="col-sm-5">
                            <input id="filter-client-ip" type="text" class="form-control" placeholder="请输入来源IP"/>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label" for="filter-remote-acc">远程账号：</label>
                        <div class="col-sm-5">
                            <input id="filter-remote-acc" type="text" class="form-control" placeholder="请输入远程账号"/>
                        </div>
                        <label class="col-sm-1 control-label" for="filter-tp-user">用户：</label>
                        <div class="col-sm-5">
                            <input id="filter-tp-user" type="text" class="form-control" placeholder="请输入操作者用户名"/>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-sm btn-primary" id="btn-search"><i class="fa fa-search fa-fw"></i> 搜索</button>
                            <button type="button" class="btn btn-sm btn-default" id="btn-reset-filter"><i class="fa fa-undo fa-fw"></i> 重置</button>
                        </div>
                    </div>
                </div>

            </div>

            <table class="table table-striped table-bordered table-hover table-data no-footer dtr-inline" id="table-record"></table>

            <div class="table-extend-area">
                <div class="table-extend-cell table-item-counter">
                    <ol id="table-record-paging"></ol>
                </div>
            </div>

            <div class="table-extend-area">
                <div class="table-extend-cell">
                    <div style="text-align:right;">
                        <nav>
                            <ul id="table-record-pagination" class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <!-- end of box -->

    </div>
{% endblock %}
