# pip install -U pip
# pip install -i https://pypi.tuna.tsinghua.edu.cn/simple -r requirements.txt
# ... or ...
# pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
# pip install -r requirements.txt

tornado
PyMySQL
psutil
Mako
Pillow
wheezy.captcha
qrcode
ldap3
cffi

# for Windows
pycryptodome
# for Linux
pycrypto
